.about_container {
  height: 100vh;
}

.about_me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_me_title {
  width: 300px;
}

.about_me_image img {
  width: 400px;
  margin-right: 7rem;
}

.about_me_text {
  width: 500px;
  line-height: 1.2rem;
  text-align: left;
  font-family: Helvetica, sans-serif;
  padding: 1rem;
  font-size: 1rem;
}