.navbar {
  width: 100%;
  display: flex;
  position: absolute;
  top: 2rem;
  font-family: 'Raleway', 'sans-serif';
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: rgb(31, 31, 31);
  font-size: .8rem;
  font-weight: 700;
}

.navbar_links {
  flex: 1;
  text-align: center;
}

.navbar_link{
  padding: 0 1rem;
  display: inline-block;
}

.active {
  text-decoration: underline;
  cursor: default !important;
}

.navbar div:nth-child(1), .navbar div:nth-child(3), .navbar_link {
  transform: translateY(-100px);
}

.navbar div:nth-child(1) {
  animation: slideDown .3s ease-out 4s forwards;
}

.navbar_link:nth-child(1) {
  animation: slideDown .3s ease-out 4.2s forwards;
}

.navbar_link:nth-child(2) {
  animation: slideDown .3s ease-out 4.4s forwards;
}

.navbar_link:nth-child(3) {
  animation: slideDown .3s ease-out 4.6s forwards;
}

.navbar div:nth-child(3) {
  animation: slideDown .3s ease-out 4.8s forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(1px);
  }
}