.skills {
  min-height: 100vh;
  background: url('../assets/computer.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 100;
}

.skills_title {
  width: 290px;
}