* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: rgb(14, 14, 14);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}
